/5.Train/.vs
/5.Train/Debug
/5.Train/5.Train/Debug
/8.Fish/.vs
/8.Fish/Debug
/8.Fish/.vs/8.Fish/v16
/8.Fish/8.Fish/Debug
/List hw/.vs
/List hw/Debug
/List hw/List hw/Debug
/List hw V/.vs
/List hw V/Debug
/List hw V/List hw V/Debug
/Gama TRIO/.vs
/Gama TRIO/Debug
/Gama TRIO/Gama TRIO/Debug
/Avtomat/.vs
/Avtomat/Debug
/Avtomat/Avtomat/Debug
/GAI baza/.vs
/GAI baza/Debug
/GAI baza/GAI baza/Debug
/Fortess/.vs
/Fortess/Debug
/Fortess/Fortess/Debug